body{
font-family: Arial;
background:#0f172a;
color:white;
text-align:center;
margin:0;
}

header{
padding:30px;
background:#1e293b;
}

.skills{
display:flex;
justify-content:center;
gap:30px;
padding:40px;
flex-wrap:wrap;
}

.card{
background:#334155;
padding:30px;
border-radius:10px;
width:220px;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
background:#475569;
}

a{
text-decoration:none;
color:white;
background:#3b82f6;
padding:10px 20px;
border-radius:6px;
display:inline-block;
margin-top:10px;
}

.challenge{
margin-top:50px;
}

.light{
background:white;
color:black;
}
