body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
}

.menu a{
display:block;
margin:15px;
background:#3b82f6;
padding:10px;
color:white;
text-decoration:none;
width:200px;
margin-left:auto;
margin-right:auto;
border-radius:6px;
}

button{
padding:10px 20px;
margin-top:20px;
border:none;
background:#22c55e;
color:white;
border-radius:5px;
}
